<mat-card class='mat-elevation-z4' [formGroup]='notifyForm' >
    <mat-card-title>{{getNotifyName(notifyForm.controls['type'].value)}}</mat-card-title>
    <mat-card-content>

         <mat-form-field  *ngIf='notifyForm.controls['type'].value == 'SLACK_BOT_API''>
            <mat-select placeholder='Бот API'
                        id='botId' name='botId'
                        formControlName='botId'
                        required>
                <mat-option *ngFor='let bot of slackBots' [value]='bot.id'>
                    {{ bot.label }}
                </mat-option>
            </mat-select>
          <mat-error *ngIf='(notifyForm.controls['botId'].dirty || notifyForm.controls['botId'].touched)
                       && notifyForm.controls['botId'].errors && notifyForm.controls['botId'].errors.required'>
            Required vaue
          </mat-error>
        </mat-form-field>

        <div>
            <input matInput placeholder='Шаблон уведомления'
                   id='messageTemplate' name='messageTemplate'
                   formControlName='messageTemplate'
                   required/>
          <mat-error *ngIf='(notifyForm.controls['messageTemplate'].dirty || notifyForm.controls['messageTemplate'].touched)
                       && notifyForm.controls['messageTemplate'].errors && notifyForm.controls['messageTemplate'].errors.required'>
            Required vaue
          </mat-error>
        </div>

    </mat-card-content>
    <mat-card-actions fxLayoutAlign='end'>
        <button type='submit' mat-button color='warn' (click)='submitRemoveMe()'>
            Убрать уведомление
        </button>
    </mat-card-actions>
</mat-card>
