<mat-card class='mat-elevation-z4' *ngIf='processorForm' [formGroup]='processorForm'>
  <mat-card-title>Поиск номеров с префиксом</mat-card-title>
  <mat-card-content>
    <mat-form-field fxFlex>
      <input matInput placeholder='Префикс номера'
             id='prefix' name='prefix'
             formControlName='prefix'/>
    </mat-form-field>
    <mat-card-actions fxLayoutAlign='end'>
      <button type='submit' mat-button color='warn' (click)='submitRemoveMe()'>
        Убрать
      </button>
    </mat-card-actions>

  </mat-card-content>


</mat-card>
