<div id='actionFormDiv' fxLayout='column' *ngIf='actionForm' [formGroup]='actionForm'>
  <mat-form-field>
    <mat-select placeholder='База данных'
                id='dbConnectionId' name='dbConnectionId'
                formControlName='dbConnectionId'>
      <mat-option *ngFor='let bd of dataBases' [value]='bd.id'>
        {{ bd.name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="(actionForm.controls['dbConnectionId'].dirty || actionForm.controls['dbConnectionId'].touched)
                       && actionForm.controls['dbConnectionId'].errors && actionForm.controls['dbConnectionId'].errors.required">
      Required value
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-codemirror formControlName='select'
                    id='select' name='select'
                    required
                    [options]="{
          theme: 'idea',
          mode: 'text/x-sql'
        }" placeholder='Sql select'></mat-codemirror>
    <mat-error *ngIf="(actionForm.controls['select'].dirty || actionForm.controls['select'].touched)
                     && actionForm.controls['select'].errors && actionForm.controls['select'].errors.required">
      Required value
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlex>
    <input matInput placeholder='Шаблон имени файла'
           id='fileNameTemplate' name='fileNameTemplate'
           formControlName='fileNameTemplate'/>
    <mat-error *ngIf="(actionForm.controls['fileNameTemplate'].dirty || actionForm.controls['fileNameTemplate'].touched)
                       && actionForm.controls['fileNameTemplate'].errors && actionForm.controls['fileNameTemplate'].errors.required">
      Required value
    </mat-error>
  </mat-form-field>

</div>
