<div fxLayout="column">
    <fieldset>
        <legend>Шаги выполнения запроса</legend>

        <div>
            <button type="button" mat-raised-button color="primary" [matMenuTriggerFor]="stepsTypesMenu">
                Добавить шаг
            </button>
            <mat-menu #stepsTypesMenu="matMenu">
                <button type="button" *ngFor="let stepType of stepsTypes" (click)="addStep(stepType.type)"
                        mat-menu-item>{{stepType.name}}
                </button>
            </mat-menu>
        </div>
        <br/>
        <data-form-step-item [dataBases]="dataBases"
                *ngFor="let s of stepsForms.controls; let i = index"
                (removeMeEvent)="dropStep(i)" [stepForm]="s">
        </data-form-step-item>
    </fieldset>
</div>


