<mat-card class="mat-elevation-z4" [formGroup]="stepForm" >

    <mat-card-content fxLayout="column" fxLayoutGap="20px">

        <!--TODO нужно это перенести в отдельные компоненты, который сами по себе несут поля для конкретных шагов, по аналогии с DataFOrmResult-->
        <mat-card-title>{{stepForm.get('type').value}}</mat-card-title>

        <mat-form-field>
            <mat-select placeholder="База данных"
                        id="dataBaseId" name="dataBaseId"
                        formControlName="dataBaseId">
                <mat-option *ngFor="let bd of dataBases" [value]="bd.id">
                    {{ bd.name }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="(stepForm.controls['dataBaseId'].dirty || stepForm.controls['dataBaseId'].touched)
                     && stepForm.controls['dataBaseId'].errors && stepForm.controls['dataBaseId'].errors.required">
                Необходимое значение
            </mat-error>
        </mat-form-field>


        <ngx-codemirror style="border: 1px solid #dadada;
                          margin: 10px 0 25px 0;"
                        id="sql" name="sql"
                        formControlName="sql"
                        [options]="{
            theme: 'idea',
            mode: 'text/x-sql'
          }"
        ></ngx-codemirror>
        <mat-error *ngIf="(stepForm.controls['sql'].dirty || stepForm.controls['sql'].touched)
                     && stepForm.controls['sql'].errors && stepForm.controls['sql'].errors.required">
            Необходимое значение
        </mat-error>
    </mat-card-content>

    <mat-card-actions fxLayoutAlign="end">
        <button type="button" mat-button color="warn" (click)="submitRemoveMe()">
            Убрать
        </button>
    </mat-card-actions>

</mat-card>
