<div fxLayout="column">

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Список веб пользователей</span>
      <span fxFlex="100%"></span>
      <span fxFlex="100%" fxLayoutAlign="end">
        <button mat-button (click)="add()">
          <mat-icon aria-label="Добавить веб-пользователя">playlist_add</mat-icon>
          Добавить веб-пользователя
        </button>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-list>
    <web-user-item *ngFor="let webUser of webUsersList" [webUser]="webUser"></web-user-item>
  </mat-list>
</div>
