<form [formGroup]='botTaskForm' (ngSubmit)='onSubmit()' fxLayout='column'>

  <mat-form-field fxFlex>
    <input matInput placeholder='Наименование задачи'
           id='name' name='name'
           formControlName='name'/>
    <mat-error *ngIf=' (botTaskForm.controls['name'].dirty || botTaskForm.controls['name'].touched)
                       && botTaskForm.controls['name'].errors && botTaskForm.controls['name'].errors.required'>
      Required vaue
    </mat-error>
  </mat-form-field>

  <mat-form-field [formGroup]='botTaskForm.controls['cronFrequency']'>
    <mat-select placeholder='Периодичность выполнения задания'
                id='cronFrequency' name='cronFrequency'
                formControlName='type'>
      <mat-option *ngFor='let f of cronFrequencies' [value]='f.frequency'>
        {{ f.label }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf='(botTaskForm.controls['cronFrequency'].dirty || botTaskForm.controls['cronFrequency'].touched)
                       && botTaskForm.controls['cronFrequency'].errors && botTaskForm.controls['cronFrequency'].errors.required'>
      Required vaue
    </mat-error>
  </mat-form-field>

  <mat-form-field [formGroup]='botTaskForm.controls['action']'>
    <mat-select placeholder='Тип выполняемой проверки'
                id='type' name='type'
                formControlName='type'>
      <mat-option *ngFor='let t of actionTypes' [value]='t.type'>
        {{ t.name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf='(botTaskForm.controls['action'].controls['type'].dirty || botTaskForm.controls['action'].controls['type'].touched)
                       && botTaskForm.controls['action'].controls['type'].errors && botTaskForm.controls['action'].controls['type'].errors.required'>
      Required vaue
    </mat-error>
  </mat-form-field>

  <!--Отслеживание единичного значения из базы данных-->
  <select-one-numeric-value-task *ngIf='botTaskForm.controls['action'].value.type == 'SQL_SELECT_ONE_NUMERIC_VALUE''
                                 [actionForm]='botTaskForm.controls['action']'
                                 [actionModel]='botTaskModel.action'></select-one-numeric-value-task>

  <fieldset>
    <legend>Выполняемые проверки</legend>
    <div>
      <button mat-raised-button color='primary' type='button' [matMenuTriggerFor]='conditionsTypesMenu'>Проверить, что
        результат
      </button>
      <mat-menu #conditionsTypesMenu='matMenu'>
        <button type='button' *ngFor='let conditionType of conditionsTypes'
                (click)='addCondition(conditionType.type)'
                mat-menu-item>{{conditionType.name}}
        </button>
      </mat-menu>
    </div>
    <br/>
    <bot-monitoring-task-condition-item
      *ngFor='let condition of this.botTaskForm.controls['conditions'].controls; let i = index'
      (removeMeEvent)='dropCondition(i)' [condition]='condition'>
    </bot-monitoring-task-condition-item>
  </fieldset>

  <br/>
  <fieldset>
    <legend>Действия после проверки</legend>
    <div>
      <button type='button' mat-raised-button color='primary' [matMenuTriggerFor]='notifyTypesMenu'>
        В случае не выполнения условий
      </button>
      <mat-menu #notifyTypesMenu='matMenu'>
        <button type='button' *ngFor='let notifyType of notifyTypes' (click)='addNotify(notifyType.type)'
                mat-menu-item>{{notifyType.name}}
        </button>
      </mat-menu>
    </div>
    <br/>
    <bot-monitoring-task-notify-item
      *ngFor='let notify of botTaskForm.controls['notifyList'].controls; let i = index'
      [notifyForm]='notify'
      [notifyModel]='botTaskModel.notifyList[i]'
      (removeMeEvent)='dropNotify(i)'>
    </bot-monitoring-task-notify-item>
  </fieldset>

  <div fxLayout fxFlexAlign='center' style='margin: 20px;' fxLayoutGap='10px'>
    <button type='submit' mat-raised-button color='primary'
            >{{submitButtonText}}</button>

    <ng-content select='.ng-content-bottom-buttons'></ng-content>

  </div>

</form>


