<div style="margin: 60px;">
  <div fxLayout fxLayoutAlign='start center'>
    <h2 fxFlex='100%' mat-dialog-title>Edit: {{task.name}} </h2>
  </div>
  <mat-dialog-content *ngIf='task'>

    <app-bot-monitoring-task-form (onSubmitEvent)='edit($event)'
                          [initial]='task'
                          submitButtonText='Save'>

      <div class='ng-content-bottom-buttons'>
        <button type='button' mat-button color='warn' (click)='delete()'>Delete</button>
      </div>

    </app-bot-monitoring-task-form>
  </mat-dialog-content>
</div>
