<div fxLayout='column'>

  <mat-toolbar color='primary'>
    <mat-toolbar-row>
      <span>Monitoring tasks</span>
      <span fxFlex='100%'></span>
      <span fxFlex='100%' fxLayoutAlign='end'>
          <a mat-button routerLink='add'>
                     <mat-icon aria-label='Add monitoring task'>playlist_add</mat-icon>
                     Add monitoring task
         </a>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-list>
    <app-monitoring-task-item *ngFor='let task of tasksList' [task]='task'></app-monitoring-task-item>
  </mat-list>

</div>
