<div fxLayout fxLayoutAlign="start center">
  <h2 fxFlex="100%" mat-dialog-title>Редактировать: {{webUser.name}} </h2>
  <button mat-icon-button (click)="close()">
    <mat-icon aria-label="Закрыть"
              matTooltip="Закрыть окно"
              matTooltipPosition="above">close</mat-icon>
  </button>
</div>
<mat-dialog-content *ngIf="webUser">
  <web-user-form (onSubmitEvent)="editWebUser($event)"
                      [initial]="webUser"
                      submitButtonText="Сохранить изменения">
    <div class="ng-content-bottom-buttons">
      <button type="button" mat-button color="warn" (click)="deleteWebUser()">Удалить пользователя</button>
    </div>

  </web-user-form>
</mat-dialog-content>

