<div fxLayout fxLayoutAlign="start center">
  <h2 fxFlex="100%" mat-dialog-title>Новый обработчик текста</h2>
  <button mat-icon-button (click)="close()">
    <mat-icon aria-label="Закрыть"
              matTooltip="Закрыть окно"
              matTooltipPosition="above">close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <text-processor-handler-form (onSubmitEvent)="add($event)"
                      submitButtonText="Добавить обработчик">
  </text-processor-handler-form>
</mat-dialog-content>




