<div fxLayout='column'>

  <mat-toolbar color='primary'>
    <mat-toolbar-row>
      <span>Обработчик: {{textProcessorHandler.name}}</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-card fxLayout='column'>
  <form [formGroup]='executionRequestForm' (ngSubmit)='onSubmit()' fxLayout='column'>
    <mat-form-field>
      <mat-label>Текст</mat-label>
      <textarea matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows='15'
                cdkAutosizeMaxRows='30'
                id='text' name='text'
                formControlName='text'></textarea>
      <mat-error *ngIf='(executionRequestForm.controls['text'].dirty || executionRequestForm.controls['text'].touched)
                       && executionRequestForm.controls['text'].errors && executionRequestForm.controls['text'].errors.required'>
        Required vaue
      </mat-error>
    </mat-form-field>

    <div fxLayout fxFlexAlign='end' style='margin: 20px;' fxLayoutGap='10px'>
      <button type='submit' mat-raised-button color='primary'
              [disabled]='executionRequestForm.invalid'>Выполнить
      </button>
    </div>



    <div fxLayout='column'>
      <mat-form-field>
        <mat-label>Результат</mat-label>
        <textarea matInput
                  cdkTextareaAutosize
                  cdkAutosizeMinRows='15'
                  cdkAutosizeMaxRows='30'

        > {{resultText}}</textarea>
      </mat-form-field>

    </div>

  </form>


  </mat-card>
</div>






