<mat-card class='mat-elevation-z4' *ngIf='processorForm' [formGroup]='processorForm'>
  <mat-card-title>Добавить разделитель между строк</mat-card-title>
  <mat-card-content>
    <mat-form-field fxFlex>
      <input matInput placeholder='В начало строки'
             id='prefix' name='prefix'
             formControlName='prefix'/>
    </mat-form-field>

    <mat-form-field fxFlex>
      <input matInput placeholder='Разделитель строк'
             id='delimiter' name='delimiter'
             formControlName='delimiter'/>
      <mat-error *ngIf='(processorForm.controls['delimiter'].dirty || processorForm.controls['delimiter'].touched)
                       && processorForm.controls['delimiter'].errors && processorForm.controls['delimiter'].errors.required'>
        Required vaue
      </mat-error>
    </mat-form-field>


    <mat-form-field fxFlex>
      <input matInput placeholder='В конец строки'
             id='suffix' name='suffix'
             formControlName='suffix'/>
    </mat-form-field>


    <mat-card-actions fxLayoutAlign='end'>
      <button type='submit' mat-button color='warn' (click)='submitRemoveMe()'>
        Убрать
      </button>
    </mat-card-actions>
  </mat-card-content>

</mat-card>
