<form [formGroup]="dataFormForm" (ngSubmit)="onSubmit()" fxLayout="column">

  <mat-form-field fxFlex>
    <input matInput placeholder="Наименование формы"
           id="name" name="name"
           formControlName="name"/>
    <mat-error *ngIf=" (dataFormForm.controls['name'].dirty || dataFormForm.controls['name'].touched)
    && dataFormForm.controls['name'].errors && dataFormForm.controls['name'].errors.required">
      Необходимое значение
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlex>
    <input matInput placeholder="Описание формы"
           id="description" name="description"
           formControlName="description"/>
    <mat-error *ngIf=" (dataFormForm.controls['description'].dirty || dataFormForm.controls['description'].touched)
    && dataFormForm.controls['description'].errors && dataFormForm.controls['description'].errors.required">
      Необходимое значение
    </mat-error>
  </mat-form-field>

  <!--Добавление параметров пользователя-->
  <data-form-parameters [parametersForms]="dataFormForm.controls['parameters']"></data-form-parameters>

  <!--  Добавление шагов формы-->
  <data-form-steps [stepsForms]="dataFormForm.controls['steps']"></data-form-steps>

  <!--  Добавление способа получения ответа -->
  <data-form-results [resultDescriptors]="dataFormForm.controls['resultDescriptors']"></data-form-results>-->

  <div fxLayout fxFlexAlign="center" style="margin: 20px;" fxLayoutGap="10px">
    <button type="submit" mat-raised-button color="primary"
              [disabled]="dataFormForm.invalid">{{submitButtonText}}</button>
    <ng-content select=".ng-content-bottom-buttons"></ng-content>
  </div>

</form>


