<mat-card class="mat-elevation-z4"  [formGroup]="condition" >
    <mat-card-title>{{getConditionName(condition.controls['type'].value)}}</mat-card-title>
    <mat-card-content>
        <div fxFlex="60%">
            <input matInput placeholder="Чем значение"
                   id="expectedValue" name="expectedValue"
                   formControlName="expectedValue"
                   required/>
          <mat-error *ngIf=" (condition.controls['expectedValue'].dirty || condition.controls['expectedValue'].touched)
                       && condition.controls['expectedValue'].errors && condition.controls['expectedValue'].errors.required">
            Необходимое значение
          </mat-error>
        </div>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="end">
        <button type="submit" mat-button color="warn" (click)="submitRemoveMe()">
            Убрать проверку
        </button>
    </mat-card-actions>
</mat-card>
