<div style="margin: 60px;">
  <div fxLayout fxLayoutAlign='start center'>
    <h2 fxFlex='100%' mat-dialog-title>Edit: {{bot.label}} </h2>
  </div>
  <mat-dialog-content *ngIf='bot'>

    <app-notification-api-form (onSubmitEvent)='edit($event)'
                               [initial]='bot'
                               submitButtonText='Save'>

      <div class='ng-content-bottom-buttons'>
        <button type='button' mat-button color='warn' (click)='delete()'>Delete</button>
      </div>

    </app-notification-api-form>
  </mat-dialog-content>
</div>
