<div fxLayout='column'>

  <mat-toolbar color='primary'>
    <mat-toolbar-row>
      <span>Settings</span>
      <span fxFlex='100%'></span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-card *ngIf='version != null'>
    <mat-card-title>Version</mat-card-title>
    <mat-card-content>
      {{version}}
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Automatic update</mat-card-title>
    <mat-card-content>
      <p>You could run auto update process. Application will try to download new version and restart.
        During the restart process application will not be available</p>
      <p><b>WARNING:</b> It may be required to restart application manually</p>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign='end'>
      <button mat-raised-button color='primary' (click)='update()' fxLayoutAlign='start'>
        <mat-icon aria-label='Run update'>system_update_alt</mat-icon>
        Run update
      </button>
    </mat-card-actions>
  </mat-card>

</div>

