<div fxLayout="column">
  <mat-form-field fxFlex>
    <input matInput placeholder="Название в @BotFather"
           id="name" name="name"
           [(ngModel)]="bot.name"
           required
           #name="ngModel"/>
    <mat-error *ngIf="name.errors && (name.dirty || name.touched) && name.errors.required">
      Необходимое значение
    </mat-error>
  </mat-form-field>


  <mat-form-field fxFlex>
    <input matInput placeholder="Токен из @BotFather"
           id="token" name="token"
           [(ngModel)]="bot.token"
           required
           #token="ngModel"/>
    <mat-error *ngIf="token.errors && (token.dirty || token.touched) && token.errors.required">
      Необходимое значение
    </mat-error>
  </mat-form-field>
</div>
