<form [formGroup]="botTaskForm" (ngSubmit)="onSubmit()" fxLayout="column">

  <mat-form-field fxFlex>
    <input matInput placeholder="Наименование задачи"
           id="name" name="name"
           formControlName="name"/>
    <mat-error *ngIf=" (botTaskForm.controls['name'].dirty || botTaskForm.controls['name'].touched)
                       && botTaskForm.controls['name'].errors && botTaskForm.controls['name'].errors.required">
      Необходимое значение
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Периодичность выполнения задания"
                id="cronFrequency" name="cronFrequency"
                formControlName="cronFrequency">
      <mat-option *ngFor="let f of cronFrequencies" [value]="f.id">
        {{ f.name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="(botTaskForm.controls['cronFrequency'].dirty || botTaskForm.controls['cronFrequency'].touched)
                       && botTaskForm.controls['cronFrequency'].errors && botTaskForm.controls['cronFrequency'].errors.required">
      Необходимое значение
    </mat-error>
  </mat-form-field>

  <mat-form-field [formGroup]="botTaskForm.controls['action']">
    <mat-select placeholder="Тип выполняемой проверки"
                id="type" name="type"
                formControlName="type">
      <mat-option *ngFor="let t of actionTypes" [value]="t.type">
        {{ t.name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="(botTaskForm.controls['action'].controls['type'].dirty || botTaskForm.controls['action'].controls['type'].touched)
                       && botTaskForm.controls['action'].controls['type'].errors && botTaskForm.controls['action'].controls['type'].errors.required">
      Необходимое значение
    </mat-error>
  </mat-form-field>


  <select-one-numeric-value-task *ngIf="botTaskForm.controls['action'].value.type == 'SQL_SELECT_ONE_NUMERIC_VALUE'"
    [actionForm]="botTaskForm.controls['action']"
    [actionModel]="botTaskForm.action"></select-one-numeric-value-task>







  <br/>
  <fieldset>
    <legend>Действия после проверки</legend>
    <div>
      <button type="button" mat-raised-button color="primary" [matMenuTriggerFor]="notifyTypesMenu">В случае не
        выполнения
        условий
      </button>
      <mat-menu #notifyTypesMenu="matMenu">
        <button type="button" *ngFor="let notifyType of notifyTypes" (click)="addNotify(notifyType.type)"
                mat-menu-item>{{notifyType.name}}
        </button>
      </mat-menu>
    </div>
    <br/>
    <bot-monitoring-task-notify-item
      *ngFor="let notify of botTaskForm.notifyList; let i = index" [notify]="notify"
      (removeMeEvent)="dropNotify(i)">
    </bot-monitoring-task-notify-item>
  </fieldset>


  <div fxLayout fxFlexAlign="center" style="margin: 20px;" fxLayoutGap="10px">
    <button type="submit" mat-raised-button color="primary"
            [disabled]="botTaskForm.invalid">{{submitButtonText}}</button>

    <ng-content select=".ng-content-bottom-buttons"></ng-content>

  </div>

</form>


