<mat-card class='mat-elevation-z4'  [formGroup]='conditionForm' >
    <mat-card-title>{{conditionForm.controls['label'].value}}</mat-card-title>
    <mat-card-content>
        <div fxFlex='60%'>
            <input matInput placeholder='Expected value'
                   id='expectedValue' name='expectedValue'
                   formControlName='expectedValue'
                   required/>
          <mat-error *ngIf="(conditionForm.controls['expectedValue'].dirty || conditionForm.controls['expectedValue'].touched)
                       && conditionForm.controls['expectedValue'].errors && conditionForm.controls['expectedValue'].errors.required">
            Required value
          </mat-error>
        </div>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign='end'>
        <button type='submit' mat-button color='warn' (click)='submitRemoveMe()'>
            Remove condition
        </button>
    </mat-card-actions>
</mat-card>
