<div fxLayout="column">

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Задачи мониторинга</span>
      <span fxFlex="100%"></span>
      <span fxFlex="100%" fxLayoutAlign="end">
        <button mat-button (click)="add()">
          <mat-icon aria-label="Добавить новую задачу">playlist_add</mat-icon>
          Добавить новую задачу
        </button>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-list>
    <bot-task-item *ngFor="let task of tasksList" [task]="task"></bot-task-item>
  </mat-list>

</div>
