<form [formGroup]="executionRequestForm" (ngSubmit)="onSubmit()" fxLayout="column">



  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3>{{dataForm.name}}</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      {{dataForm.description}}
    </mat-expansion-panel>
  </mat-accordion>

   <!-- Заполняем вхдные параметры формы -->
  <data-form-execute-parameters
          *ngIf="executionRequestForm"
          [parametersValues]="executionRequestForm.controls['parametersValues']">
  </data-form-execute-parameters>

  <div fxLayout fxFlexAlign="end" style="margin: 20px;" fxLayoutGap="10px">
    <button type="submit" mat-raised-button color="primary" *ngIf="!waitProccingFlag"
            [disabled]="executionRequestForm.invalid">Выполнить</button>

    <button type="button" *ngIf="waitProccingFlag" (click)="stopRequest()" mat-raised-button>Отменить запрос</button>
  </div>

</form>
<div fxLayout="row" fxLayoutAlign="center" *ngIf="waitProccingFlag" >
  <mat-spinner  [diameter]="50"></mat-spinner>
  <div>Запрос выполняется...</div>
</div>
<div fxLayout="column">
  <data-form-view-results [dataForExecution]="dataForExecution" style="margin: 10px;"></data-form-view-results>
</div>




