<mat-card class="mat-elevation-z4" *ngIf="processorForm" [formGroup]="processorForm">
  <mat-card-title>Фильтровать строки по ключевому слову</mat-card-title>
  <mat-card-content>
    <mat-form-field fxFlex>
      <input matInput placeholder="Ключевая фраза имени файла"
             id="key" name="key"
             formControlName="key"/>
      <mat-error *ngIf="(processorForm.controls['key'].dirty || processorForm.controls['key'].touched)
                       && processorForm.controls['key'].errors && processorForm.controls['key'].errors.required">
        Необходимое значение
      </mat-error>
    </mat-form-field>


    <mat-card-actions fxLayoutAlign="end">
      <button type="submit" mat-button color="warn" (click)="submitRemoveMe()">
        Убрать
      </button>
    </mat-card-actions>

  </mat-card-content>
</mat-card>
