<div fxLayout='column'>

  <mat-toolbar color='primary'>
    <mat-toolbar-row>
      <span>Notification APIs</span>
      <span fxFlex='100%'></span>
      <span fxFlex='100%' fxLayoutAlign='end'>
            <a mat-button routerLink='add'>
                     <mat-icon aria-label='Add notification API'>playlist_add</mat-icon>
                     Add notification API
            </a>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-list>
    <app-notification-api-list-item *ngFor='let bot of botsList' [bot]='bot'></app-notification-api-list-item>
  </mat-list>

</div>
