<mat-card class='mat-elevation-z4' [formGroup]='parameterForm' >

    <mat-card-content fxLayout='row' fxLayoutGap='20px'>

        <mat-form-field fxFlex='50%'>
            <input matInput placeholder='Наименование'
                   id='parameterLabel' name='parameterLabel'
                   formControlName='label'/>
            <mat-error *ngIf='(parameterForm.controls['label'].dirty || parameterForm.controls['label'].touched)
                     && parameterForm.controls['label'].errors && parameterForm.controls['label'].errors.required'>
                Required vaue
            </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex='40%'>
            <mat-select placeholder='Тип'
                        id='type' name='type'
                        formControlName='type'>
                <mat-option *ngFor='let parameterType of parametersTypes' [value]='parameterType.type'>
                    {{ parameterType.name }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf='(parameterForm.controls['type'].dirty || parameterForm.controls['type'].touched)
                     && parameterForm.controls['type'].errors && parameterForm.controls['type'].errors.required'>
                Required vaue
            </mat-error>
        </mat-form-field>

    </mat-card-content>

    <mat-card-actions fxLayoutAlign='end'>
        <button type='button' mat-button color='warn' (click)='submitRemoveMe()'>
            Убрать
        </button>
    </mat-card-actions>

</mat-card>
