<div fxLayout='column'>

  <mat-toolbar color='primary'>
    <mat-toolbar-row>
      <span>Список обработчиков текста</span>
      <span fxFlex='100%'></span>
      <span fxFlex='100%' fxLayoutAlign='end'>
        <button mat-button (click)='add()'>
          <mat-icon aria-label='Добавить обработчик'>playlist_add</mat-icon>
          Добавить обработчик
        </button>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-list>
    <text-processor-handler-item *ngFor='let textProcessorHandler of textProcessorHandlers'
                   [textProcessorHandler]='textProcessorHandler'></text-processor-handler-item>
  </mat-list>
</div>
